################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/FirstMVC/.vs
/FirstMVC/FirstMVC/bin/Debug/net9.0
/FirstMVC/FirstMVC/obj
/ContosaApp/.vs/ContosaApp
/ContosaApp/ContosaApp/bin/Debug/net9.0
/ContosaApp/ContosaApp/obj
/ContosaApp/.vs/ProjectEvaluation
/IdentityApp/.vs
/IdentityApp/IdentityApp/bin/Debug/net9.0
/IdentityApp/IdentityApp/obj
